/*general*/
:root{
    --main-color: rgb(22, 22, 22);
    --menu-color: rgb(36, 36, 36);
    --highlight-color: white;
    --p-background-color: rgb(35, 37, 59);
    --header-offset: 12vmin;
}

body{
    background-color: var(--main-color);
    font-family: sans-serif;
    color: var(--highlight-color);
    padding: 0;
}
/*navigation header*/
header{
    position: fixed;
    display: flex;
    top: 0;
    left:0;
    background-color: var(--menu-color);
    height: var(--header-offset);
    width: 100vw;
    z-index: 99;
}

nav{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}
.nav-link{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 5vmin;
    color: var(--highlight-color);
}
.nav-link:hover{
    animation-name: tab-pop;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes tab-pop {
    100%{
        transform: scale(1.05);
        background-color: var(--highlight-color);
        color: var(--menu-color);
        z-index: 2;
        box-shadow: 0 0 7px;
    }
}

#current-tab{
    background-color: var(--highlight-color);
    color: var(--menu-color);
    animation-name: unset;
}
/*main content*/
section{
    padding-top: var(--header-offset);
    width: 100%;
    

}
h1{
    color: var(--highlight-color);
    text-align: center;
    font-size: 40px;
}
.home-art{
    display: block;
    position: relative;
    width: 20vw;
    height: auto;
    animation-name: car-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes car-anim{
    0%{
        left: 0vw;  
    }
    100%{
        left: 37.5vw;
    }
}
.home-p{
    display: inline-block;
    position: relative;
    left: 25vw;
    width: 49vw;
    padding: 1vw;
    text-align: justify;
    background-color: var(--p-background-color);
}
.media-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: var(--highlight-color);
    padding-bottom: 5%;
    margin-bottom: 5%;
}
.tiles-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    
    
}
.logo{
    width:15vh;
    height: auto;
    margin: 5%;
}

.grid-container{
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 30vw 30vw 30vw;
    width: 75vw;
    color: --highlight-color;
    margin: auto;
}

@media screen and (max-width: 600px){
    .grid-container{
        grid-template-columns: 60vw;
        grid-template-rows: 45vw 45vw 45vw 45vw 45vw 45vw;
        width: 60vw;
    }
}

.grid-item{
    display: flex;
    border-style: solid;
    border-width: 1px;
    width: 80%;
    height: 80%;
    border-color: var(--highlight-color);
}
.grid-img{
    display:initial;
    object-fit:cover;
    width: 100%;
    height: auto;
}

.form{
    width: 40%;
    margin: auto;
    background-color: var(--p-background-color);
    padding: 5%;
    box-shadow: 5px 7px 7px rgba(14, 14, 14, 0.74);
}

.form-element{
    font-size: 20px;
    margin-bottom: 5%;
}
input.form-element{
    width: 80%
}
h2.form-element {
    text-align: center;
    font-size: 40px;
}

/*footer elements*/
footer{
    display: block;
    position: relative;
    background-color: var(--menu-color);
    padding-top: calc(var(--header-offset)/2);
    margin-top: 5%;
    height: 30vh;
    width: 100%;
    left: 0;
    bottom: 0;
}
footer hr{
    width: 95%;
}

#profile-container{
    position: relative;
    top: 5vh;
    justify-content: space-around;
    align-items: center;
}

.avatar{
    width: auto;
    height: 15vh;
    border-radius: 50%;
    margin-left: 5vw;
    margin-right: 2vw;
    justify-self: flex-start;
}
#footer-copyright{
    justify-self: flex-start;
}
.profile-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 5vmin;
    color: var(--main-color);
    background-color: var(--highlight-color);
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 0.1em;
}
@media screen and (max-width: 850px){
    #footer-copyright{
        display: none;
    }
}
