/*general*/
:root{
    --main-color: rgb(22, 22, 22);
    --menu-color: rgb(36, 36, 36);
    --highlight-color: white;
    --p-background-color: rgb(35, 37, 59);
    --header-offset: 12vmin;
}

body{
    background-color: var(--main-color);
    font-family: sans-serif;
    color: var(--highlight-color);
    padding: 0;
}
/*fixed navigation style*/
header{
    position: fixed;
    display: flex;
    top: 0;
    left:0;
    background-color: var(--menu-color);
    height: var(--header-offset);
    width: 100vw;
    z-index: 99;
}

nav{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}
.nav-link{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 5vmin;
    color: var(--highlight-color);
}
.nav-link:hover{
    animation-name: tab-pop;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes tab-pop {
    100%{
        transform: scale(1.05);
        background-color: var(--highlight-color);
        color: var(--menu-color);
        z-index: 2;
        box-shadow: 0 0 7px;
    }
}

#current-tab{
    background-color: var(--highlight-color);
    color: var(--menu-color);
    animation-name: unset;
}
/*main content*/
section{
    padding-top: var(--header-offset);
    width: 100%;
    

}
h1{
    color: var(--highlight-color);
    text-align: center;
    font-size: 40px;
}
.home-art{
    display: block;
    position: relative;
    width: 20vw;
    height: auto;
    animation-name: car-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes car-anim{
    0%{
        left: 0vw;  
    }
    100%{
        left: 37.5vw;
    }
}
.home-p{
    display: inline-block;
    position: relative;
    left: 25vw;
    width: 49vw;
    padding: 1vw;
    text-align: justify;
    background-color: var(--p-background-color);
}
.media-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: var(--highlight-color);
    margin-bottom: 5%;
}
/*footer elements*/
footer{
    display: block;
    position: relative;
    background-color: var(--menu-color);
    padding-top: calc(var(--header-offset)/2);
    height: 30vh;
    width: 100%;
    left: 0;
    bottom: 0;
}
footer hr{
    width: 95%;
}